h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

h4 {
  color: white;
  text-align: center;
  margin-top: 10px;
}


img.ig {
  width: 120px;
  height: 30px;
  object-fit: contain;
}

a.ig {
  width: 100px;
  height: 50px;
  margin: 20px 0;
  display: flex;
  background: transparent;
  position: relative;
  padding: 5px 15px;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #E1306C;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #E1306C;
  transition: color 0.3s ease-out;
}

a.ig span {
  margin: 10px;
}

a.ig::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20em;
  height: 20em;
  left: -5em;
  border-radius: 50%;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

a.ig:hover {
  color: #fff;
}

a.ig:hover::before {
  box-shadow: inset 0 0 0 10em #E1306C;
}

/*---------------*/
img.tikTok {
  width: 120px;
  height: 30px;
  object-fit: contain;
}

a.tikTok {
  width: 100px;
  height: 50px;
  margin: 20px 0;
  display: flex;
  background: transparent;
  position: relative;
  padding: 5px 15px;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #434040;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #434040;
  transition: color 0.3s ease-out;
}

a.tikTok span {
  margin: 10px;
}

a.tikTok::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20em;
  height: 20em;
  left: -5em;
  border-radius: 50%;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

a.tikTok:hover {
  color: #434040;
}

a.tikTok:hover::before {
  box-shadow: inset 0 0 0 10em #434040;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap; /* por si en mobile no entra */
}

@media (max-width: 768px) {

  h2 {
    font-size: 22px;
    margin-top: 15px;
  }

  h4 {
    font-size: 14px;
    margin-top: 8px;
  }

  /* Ajuste general de imágenes */
  img {
    width: 40px;
    margin: 15px auto;
  }

  /* Contenedor de redes */
  .socials {
    gap: 10px;
    margin-top: 15px;
  }

  /* BOTÓN INSTAGRAM */
  a.ig {
    width: 90px;
    height: 65px;
    font-size: 15px;
    padding: 5px 10px;
  }

  .igimg {
    width: 90px;
    height: 230px;
  }

  a.tikTok {
    width: 90px;
    height: 65px;
    font-size: 15px;
    padding: 5px 10px;
  }

  img.tikTok {
    width: 90px;
    height: 24px;
  }
}
