h1 {
  color: white;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}
a.sobremi {
  display: flex;
  align-items: center;
  justify-content: center;
margin: 20px 0;

width: 180px;
  height: 45px;

  background-color: rgb(3, 3, 3);
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;

border-radius: 0;
  
  transition: transform 0.3s ease;
}
a.sobremi {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a.sobremi:hover {
  transform: translateY(-3px);
}
.menu {
  display: flex;
  justify-content: center;
}
.menu a.sobremi:first-child {
  border-radius: 10px 0 0 10px;
}

.menu a.sobremi:last-child {
  border-radius: 0 10px 10px 0;
}
html {
  scroll-behavior: smooth;
}
