h1 {
  color: white;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}
a.sobremi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;

  width: 250px;
  height: 45px;

  background-color: rgba(245, 73, 144);
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;

  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(245, 73, 144, 0.5) 5px 10px 15px;

  transition: transform 0.3s ease;
}

a.sobremi:hover {
  transform: translateY(-3px);
}
