body {
  background-image: url("/Fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 768px) {
  body {
    background-attachment: scroll; 
    background-position: center top;
    background-size: cover;
    min-height: 100dvh; 
  }
}
