body {
  background-image: url("public/Fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
/* Mobile rules moved to src/mobile.css */
